.centered{
	height:53%;
}

table{
	/*border: black dotted 5px;*/
	position: relative;

	margin: 90px auto;
}

td{
	padding-left: 2em;
	padding-right:2em;

}

#space{
	height:20%;
}

.hidden{
	height:0px;
	width:0px;
}

.links:link{
	
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
    -webkit-text-size-adjust: 100%;
	font-size:20px;
	color: grey;
}

.links:visited{
	color:grey;
}

.links:hover{
	color:black;
}


