.container-fluid{
	width: 100%;
	margin: 0;
}

#hi{
	letter-spacing: 10px;
}

textarea{
	background-color: lightgray;
	height: 100%;
	display: inline-block;
	margin-left: 20px;

}

.container-primary h3{
	display: inline-block;
}



.jumbotron{
	background: linear-gradient( rgba(256, 256, 256, 0.4), rgba(256,256,256,0.1)), url("http://pre09.deviantart.net/6818/th/pre/i/2011/021/9/3/sitar_2_by_ronusan-d37qjjy.jpg");
	background-attachment: fixed;
}

.container-primary{
	background-color: white;
}

h1{
	display: inline-block;
}

#white{
	color: lightgray;
}